body {
background-color: #1e3333;
margin: 0;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;

}

#calculator {
background-color: #2f4f4f;
border-radius: 15px;
font-family: Arial, Helvetica, sans-serif;
max-width: 500px;
overflow: hidden;
}

button {
width: 100px;
height: 100px;
color: white;
border-radius: 50px;
border: none;
background-color: hsl(0, 1%, 13%);
font-size: 3rem;
font-weight: bold;
cursor: pointer;

}

#keys {
display: grid;
grid-template-columns: repeat(4, 1fr);
gap: 10px;
padding: 25px;
}

#display {
width:100%;
padding: 20px;
font-size: 5rem;
text-align: left;
border: none;
background-color: #638f8f;
color: white;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 1, 70%);
}

.operatorBtn {
    background-color: #ffa500;
}

.operatorBtn:hover { 
    background-color: #f8d490;

}

.operatorBtn:active {
    background-color: #f5efe3;
}

.backBtn {
    font-size: 25px;
}